body{
    background-color: green;
    font-family: cursive
}
.inter{
    background-color: red;
}
.conserve{
    background-color: black;
    color: white;
}
.behave{
    background color: hotpink
}
.paragraph{
    font-family: sans-serif;
}
